spring:
  datasource:
    url: jdbc:h2:mem:batchdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080
